.container {
    display: grid;
    border: 2px dashed rgba(114, 186, 94, 0.35);
    height: 250px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background: rgba(114, 186, 94, 0.05);
  }
  .item {
    width: 50%;
    height: 50%;
    background: rgba(255, 213, 70, 0.4);
    border: 2px dashed rgba(236, 198, 48, 0.5);
  }
  .item1 {
    grid-column-start: 1;
    grid-column-end: 50;
  }
  .grid-container {
    display: inline-grid;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    grid-template-columns: repeat(50,auto);
    padding: 0px;
  }
  