<div>
    <button class="btn" (click) = "runSearch()" > Depth-first search </button>
    <button class="btn" (click) = "runASearch()" > A* search </button><br>
    <button class="btn" (click) = "reset()" > Reset </button>
    <button class="btn" (click) = "random()" > Generate random map</button>
    <p>Click to toggle walls</p>
</div>

<div class= "grid-container" *ngFor = "let row of map ">  
    <app-graph-item *ngFor = " let node of row"
       [node] = "node">

    </app-graph-item>
  </div>
  



